@import '../../Styles/config';

.btn-primary {
	margin: 2rem 0rem;
	font-family: $primary-font;
	color: $bg-color;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	font-weight: 400;

	.underline {
		background: $bg-color;
	}
}
