@import '../../Styles/config';

/* Style the tab */

/* Style the buttons that are used to open the tab content */

button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tablinks-active {
	background-color: red;

	&:hover {
		background: red;
	}
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	@include transition-ease;
}

// .tabcontent {
// 	animation: fadeEffect 1s; /* Fading effect takes 1 second */
// }

// /* Go from zero to full opacity */
// @keyframes fadeEffect {
// 	from {
// 		opacity: 0;
// 	}
// 	to {
// 		opacity: 1;
// 	}
// }
