@import '../../Styles/config';

.typewriter {
	font-family: $secondary-font;
	font-size: 5rem;
	font-weight: $secondary-regular;
	line-height: 6rem;
	text-decoration: none;
	color: $bg-color;
	cursor: pointer;
	@include transition-ease;

	&:hover {
		text-decoration: underline;
	}

	&:nth-child(1) {
		font-style: italic;
	}
}
