@import '../../Styles/config';

.typewriter {
	font-family: $secondary-font;
	font-size: 4rem;
	font-weight: $secondary-regular;
	line-height: 5rem;
	text-decoration: none;
	color: $bg-color;
	cursor: pointer;
	@include transition-ease;

	&:hover {
		text-decoration: underline;
	}

	&:nth-child(2) {
		font-style: italic;
	}
}

@include media-md {
	.typewriter {
		font-size: 5rem;
		line-height: 6rem;
	}
}
