$primary-font: halyard-display, sans-serif;
$secondary-font: utopia-std-display, serif;
$dark: #111827;
$grey: #6b7280;
$mediumgrey: #9ca3af;
$lightgrey: #f3f4f6;
$primary-color: #1fc7ec;
$secondary-color: #9334e9;
$tertiary-color: #ea580b;
$primary-thin: 100;
$primary-regular: 400;
$primary-bold: 700;
$secondary-regular: 400;
$secondary-bold: 600;

@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
	@if (lightness($color) < 40%) {
		@return #000;
	} @else {
		@return #fff;
	}
}

@mixin media-md {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin media-lg {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

@mixin media-xl {
	@media screen and (min-width: 1280) {
		@content;
	}
}

@mixin media-2xl {
	@media screen and (min-width: 1536) {
		@content;
	}
}
