@import '../../Styles/config';

.main {
	margin: 8rem 1rem;
}

@include media-md {
	.main {
		margin: 1rem 8rem;
	}
}

@include media-lg {
	.main {
		margin: 1rem 10rem;
	}
}

@include media-xl {
	.main {
		margin: 1rem 12rem;
	}
}
